.form-card {
  margin-bottom: var(--spacing-xl);
  width: 100%;
  padding: var(--spacing-md);
  box-shadow: var(--shadow-md);
  box-sizing: border-box;
}

.form-fields-container {
  display: grid;
  grid-template-columns: 7rem 1fr;
  gap: var(--spacing-md);
  width: 100%;
}

h2 {
  margin-top: 0;
  margin-bottom: var(--spacing-lg);
  color: var(--color-primary);
}

.form-field {
  margin-bottom: var(--spacing-md);
  grid-column: 2;
}

:global(.mdc-text-field) {
  height: 50px !important;
}

:global(.mdc-text-field .mdc-text-field__input) {
  height: 50px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.form-field :global(.smui-text-field--standard) {
  width: 100%;
}

.form-field :global(.mdc-text-field--focused) {
  background-color: var(--color-primary-light);
}

:global(.create-user-button) :global(.mdc-button__ripple),
:global(.create-user-button) :global(.mdc-button__touch),
:global(.create-user-button):not(:disabled) {
  height: 3.5rem !important;
  padding: 0 3rem !important;
  font-size: 1.1rem !important;
  text-transform: none !important;
  min-width: 12rem !important;
}

:global(.create-user-button) :global(.mdc-button__label) {
  font-size: 1.1rem !important;
}

.error-message {
  background-color: var(--color-error-light);
  color: var(--color-error);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-md);
  margin-bottom: var(--spacing-lg);
  font-size: var(--font-size-sm);
}

.success-message {
  background-color: var(--color-success-light);
  color: var(--color-success);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-md);
  margin-bottom: var(--spacing-lg);
  font-size: var(--font-size-sm);
} 